<!DOCTYPE html>
<html lang="en">
	<head>

		<title>Benjamin Chelli - Web Engineer</title>
		<meta charset="utf-8" />
		<meta name="google-site-verification" content="1NFtL4zJSlo0sa-_-Sjssd1wAYRuZC2K21UH5cA_sas" />
		
		<link href="css/global.css?version=[##e:View_Header::version()]" rel="stylesheet" type="text/css" />
		<link href="css/coda-slider.css?version=[##e:View_Header::version()]" rel="stylesheet" type="text/css" />
		<link href="css/[##e:Class_Url::getPage()].css?version=[##e:View_Header::version()]" rel="stylesheet" type="text/css" />

		<script src="js/lib/jquery-1.6.2.min.js?version=[##e:View_Header::version()]" type="text/javascript"></script>
		<script src="js/lib/jquery.scrollTo-1.4.2-min.js?version=[##e:View_Header::version()]" type="text/javascript"></script>
		<script src="js/lib/jquery.localscroll-1.2.7-min.js?version=[##e:View_Header::version()]" type="text/javascript"></script>
		<script src="js/lib/jquery.serialScroll-1.2.2-min.js?version=[##e:View_Header::version()]" type="text/javascript"></script>

		<script src="js/coda-slider.js?version=[##e:View_Header::version()]" type="text/javascript"></script>
		
		<script type="text/javascript">
		
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-25626653-1']);
			_gaq.push(['_trackPageview']);
		
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		
		</script>
	</head>
	<body>

		<div id="wrapper">

			<div id="header">
				<div class="ws">
					
					<img id="logo" src="img/me.jpg" />
					<div id="title">Benjamin Chelli - Web Engineer</div>
					<div id="sstitle">
						address: 10 rue Pelouze 75008 Paris, France<br />
						mobile: +33 (0) 606 676 142<br />
						email: <a href="mailto:benjamin.chelli@gmail.com">benjamin.chelli@gmail.com</a>
					</div>
	
					<div id="menu">
						[##e:View_Header::getMenu()]
						<div class="cl"></div>
					</div>
	
				</div>
			</div><!-- #wrapper -->
	
			<div id="content" class="ws">
	
