<ul id="contact">
	<li class="tal">
		<br />
		<span class="label">address:</span><br />10 rue Pelouze<br />75008 Paris<br />France<br /><br />
		<span class="label">mobile:</span><br />+33 (0) 606 676 142<br /><br />
		<span class="label">email:</span><br /><a href="mailto:benjamin.chelli@gmail.com">benjamin.chelli@gmail.com</a>
	</li>
	<li>
		<a href="http://www.linkedin.com/in/benjaminchelli" target="_blank">
			<img src="img/icons/linkedin.png" />
		</a>
	</li>
	<li>
		<a href="callto://chellibenjamin">
			<img src="img/icons/skype.png" />
		</a>
	</li>
	<li>
		<a href="http://twitter.com/benjaminchelli" target="_blank">
			<img src="img/icons/twitter.png" />
		</a>
	</li>
	<li>
		<a href="http://gplus.to/benjaminchelli" target="_blank">
			<img src="img/icons/googleplus.png" />
		</a>
	</li>
	<li>
		<a href="http://www.facebook.com/benjamin.chelli" target="_blank">
			<img src="img/icons/facebook.png" />
		</a>
	</li>
</ul>
