<div id="home-menu">
	<ul>
		<li>
			<a href="[##e:Class_Url::getUrl('portfolio')]">
				<img src="img/portfolio.png" /><br />
				Portfolio
			</a>
		</li>
		<li>
			<a href="[##e:Class_Url::getUrl('resume')]">
				<img src="img/resume.png" /><br />
				Resume
			</a>
		</li>
		<li>
			<a href="[##e:Class_Url::getUrl('contact')]">
				<img src="img/contact.png" /><br />
				Contact
			</a>
		</li>
	</ul>
</div>
<div id="intro">
	<h2>What about me ?</h2>
	<p>My work is driven by technical challenges, team-work, desire to assimilate new knowledge. My everyday challenge is to find innovative solutions to solve problems.</p>
	<p>Therefore, I am now looking for a job that allows me to develop solutions using advanced technologies such as servers virtualization, auto-scaled infrastructures, self-application deployment or any other part needed to create cloud applications.</p>
	<div class="cl"></div>
	<br />
	<!--h1>My competences</h1-->
	<h2>Engineering Skills:</h2>
	<ul>
		<li>Fluent in PHP, HTML, SQL, CSS, Javascript, Delphi (IPScript).</li>
		<li>Good knowledge in C++, Java, shell scripting</li>
		<li>Good network administration skills (Windows & Linux Server)</li>
		<li>Multiple OS proficiency: Windows, Linux and Mac OS X</li>
	</ul>
	<br />
	<h2>Other Skills:</h2>
	Fluent in French (Mother tongue) and English.
</div>
<div class="cl"></div>
